body {
  background-color: #c5c6c1;
  font-family: "Lato", sans-serif;
  font-weight: 400;
}

h1 {
  font-size: 2em;
  font-weight: 700;
  text-align: center;
}

h4 {
  font-size: 1.2em;
  font-weight: 800;
}

form {
  background-color: rgb(9, 140, 140);
  width: 50%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

form label {
  margin: 5px;
}

form label input {
  align-items: right;
}

#navbar {
  display: flex;
  justify-content: space-between;
  max-height: 40px;
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
}

#navbar img {
  width: 40px;
}

.task-card {
  background-color: #e9e5defb;
  max-width: 250px;
  border-radius: 10px;
  padding-top: 5px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 15px;
  text-align: left;
  margin: 10px;
  margin-bottom: 15px;
  align-items: center;
  box-shadow: 0px 0px 15px 3px rgba(0, 0, 0, 0.1);
}

.task-card-priority {
  background-color: #e7b7a0;
  max-width: 250px;
  border-radius: 10px;
  padding-top: 5px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 15px;
  text-align: left;
  margin: 10px;
  margin-bottom: 15px;
  align-items: center;
  box-shadow: 0px 0px 15px 3px rgba(0, 0, 0, 0.1);
}

.task-card-upper-middle-section {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.task-card-lower-middle-section {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: space-between;
}

.task-card-bottom-section {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

/* BUTTON STYLES */

.about-us-btn {
  height: 40px;
  border-radius: 5px;
  border-style: solid;
  border-color: #b9b8b4;
  background-color: #fff;
}

.about-us-btn:hover {
  font-weight: bold;
}

.create-task-btn {
  height: 40px;
  border-radius: 5px;
  border-style: solid;
  border-color: #b9b8b4;
  background-color: #fff;
}

.create-task-btn:hover {
  font-weight: bold;
}

.edit-btn {
  height: 40px;
  border-radius: 5px;
  border-style: solid;
  border-color: #b9b8b4;
  background-color: #fff;
}

.edit-btn:hover {
  background-color: rgb(247, 237, 177);
  font-weight: bold;
}

.delete-btn {
  height: 40px;
  border-radius: 5px;
  border-style: solid;
  border-color: #e7b7a0;
  background-color: #fff;
}

.delete-btn:hover {
  background-color: rgba(190, 102, 102, 0.413);
  font-weight: bold;
}

/*  */

#columns-container {
  display: flex;
  border-radius: 10px;
  gap: 20px;
  align-items: flex-start;
  justify-content: center;
  margin: 20px;
  overflow-x: auto;
  background-color: #fefefe;
  height: 100%;
}

#single-column {
  background-color: #fefefe;
  width: 330px;
  padding-top: 10px;
  text-align: center;
  height: 100%;
}

/* 
STYLING TO DO'S

1) margin-right on task cards or padding-right on columns should be same as the spacing on the cards' left
2) draggable area (task card title section?) – maybe visual indicator across the whole section rather than just top left corner
3) Pallets 
#fefefe (very light grey, nearly white – from the leftmost section with overlay text)

#b6b3ae (warm grey)

#b9b8b4 (soft grey)

#c5c6c1 (cool grey)

#e9d0bc (light peach-beige)

#e7b7a0 (soft peach-pink)

*/
