body {
  background-color: rgb(10, 150, 155);
  font-family: "Lato", sans-serif;
  font-weight: 400;
}

h1 {
  font-size: 2em;
  font-weight: 700;
  text-align: center;
}

h4 {
  font-size: 1.2em;
  font-weight: 800;
}

form {
  background-color: rgb(9, 140, 140);
  width: 50%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

form label {
  margin: 5px;
}

form label input {
  align-items: right;
}

#navbar {
  display: flex;
  max-height: 40px;
}

#navbar img {
  width: 40px;
}

.task-card {
  background-color: aliceblue;
  max-width: 250px;
  border-radius: 10px;
  padding-top: 5px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 15px;
  text-align: left;
  margin: 10px;
  align-items: center;
}

.task-card-priority {
  background-color: rgb(236, 140, 124);
  max-width: 250px;
  border-radius: 10px;
  padding-top: 5px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 15px;
  text-align: left;
  margin: 10px;
  align-items: center;
}

.task-card-upper-middle-section {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.task-card-lower-middle-section {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: space-between;
}

.task-card-bottom-section {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.delete-btn {
  width: 40px;
  height: 40px;
  border-radius: 5px;
  border-style: solid;
  border-color: rgb(205, 77, 77);
  background-color: #fff;
}

.delete-btn:hover {
  width: 42px;
  height: 42px;
  background-color: rgba(190, 102, 102, 0.413);
}

#columns-container {
  display: flex;
  gap: 20px;
  align-items: flex-start;
  justify-content: center;
  margin: 20px;
  overflow-x: auto;
  background-color: gainsboro;
  height: 80vh;
}

#single-column {
  background-color: gray;
  width: 330px;
  padding-top: 10px;
  text-align: center;
  height: 80vh;
}
